.place__website-odd {
  grid-column: 2;
  grid-row: 1;
  margin: 106px 0 48px 40px;
  min-width: 456px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .place__website-odd:first-of-type {
    max-width: 352px;
    margin: 46px 0 48px 28px;
  }
}
